<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Patients</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container">
    <h1>Liste des Patients</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.nom}">Nom</td>
            <td th:text="${patient.prenom}">Prénom</td>
            <td>
                <a th:href="@{'/patients/' + ${patient.id}}">Voir Détails</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
